<div class="pb-16 text-gray-800">
  <div class="container mx-auto text-center">

    <h1 class="text-2xl md:text-3xl font-bold mb-5 capitalize choose-title">Who Are We ?</h1>
    <img class="w-3/4 md:w-2/5 mx-auto rounded shadow-lg" src="https://images.jdmagicbox.com/comp/mysore/w8/0821px821.x821.170903191841.q2w8/catalogue/manju-mess-kuvempunagar-mysore-caterers-7bbq5.jpg?clr=" alt="empty-cart-image">

    <p class="text-gray-500 text-lg py-4 border-b">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

    <div class="mx-auto rounded-xl shadow-lg bg-white-100 pt-6 mt-4 w-full md:w-2/4 xl:w-1/4">
      <p class="font-bold text-xl border-b pb-3">Contact Us</p>
      <ul class="flex flex-col">
        <li class="pt-3 font-bold"><i class="las la-phone text-xl"></i> +91 9980648240</li>
        <li class="pt-3 font-bold"><i class="las la-at text-xl"></i> maxcaterersbajpe@gmail.com</li>
        <li class="py-3">
          <a href="#"><i class="lab la-instagram text-4xl"></i></a>
          <a href="#"><i class="lab la-youtube text-4xl"></i></a>
          <a href="#"><i class="lab la-twitter text-4xl "></i></a>

        </li>
      </ul>
    </div>
  </div>
</div>
