<div class="pb-16 text-gray-800">
  <div class="container mx-auto text-center">

    <h1 class="text-2xl md:text-3xl font-bold mb-5 capitalize choose-title">Who Are We ?</h1>
    <img class="w-3/4 md:w-2/5 mx-auto rounded shadow-lg" src="https://images.jdmagicbox.com/comp/mysore/w8/0821px821.x821.170903191841.q2w8/catalogue/manju-mess-kuvempunagar-mysore-caterers-7bbq5.jpg?clr=" alt="about-us-image">

    <p class="text-gray-500 text-lg py-4 border-b">Welcome to Max Caterers, your number one source for all your event catering. We're dedicated to providing you the very best of our catering services, with an emphasis on Veg, Non-Veg, Desserts and many more. Founded in 1990 by Mr. Maxim Dsouza, Max Caterers has come a long way from its beginnings in Bajpe. When Mr. Maxim Dsouza first started out, his passion for catering towards society drove them to start their own business. We hope you enjoy our services as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>

    <div class="mx-auto rounded-xl shadow-md bg-white-100 pt-6 mt-4 w-full md:w-2/4 xl:w-1/4">
      <p class="font-bold text-xl border-b pb-3">Contact Us</p>
      <ul class="flex flex-col">
        <li class="pt-3 font-bold"><i class="las la-phone text-xl"></i> +91 9980648240
        </li>
        <li class="pt-3 font-bold"><i class="las la-phone text-xl"></i> +91 9980154570
        </li>
        <li class="pt-3 font-bold"><i class="las la-at text-xl"></i> maxcaterersbajpe@gmail.com</li>
        <li class="py-3">
          <a href="#"><i class="lab la-instagram text-4xl"></i></a>
          <a href="#"><i class="lab la-youtube text-4xl"></i></a>
          <a href="#"><i class="lab la-twitter text-4xl "></i></a>

        </li>
      </ul>
    </div>
  </div>
</div>
